<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>User Registration</title>
    <meta name="viewport" content="width=device-width,
      initial-scale=1.0"/>
    
    <link rel="stylesheet" href="userRegister1.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">User Registration</h1>
      <form method="post" action="/userRegister">
        <div class="main-user-info">
          <div class="user-input-box">
            <label for="username">Username:</label>
            <input type="text"
                    id="username"
                    name="username"
                    placeholder="Enter Username"
                    required><br>
          </div>
          <div class="user-input-box">
            <label for="password">Password:</label>
            <input type="password"
                    id="password"
                    name="password"
                    placeholder="Enter Password"
                    required> <br>
          </div>
          <div class="user-input-box">
            <label for="name">Full Name:</label>
            <input type="text"
                    id="name"
                    name="name"
                    placeholder="Enter Fullname"
                     required><br>
          </div>
          <div class="user-input-box">
            <label for="email">Email:</label>
            <input type="email"
                    id="email"
                    name="email"
                    placeholder="Enter Email"
                     required> <br>
          </div>
          <div class="user-input-box">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text"
                    id="phone"
                    name="phone"
                    placeholder="Enter Phone-Number"
                   required><br>
          </div>

          <div class="user-input-box">
            <label for="location">City:</label>
            <input type="text"
                    id="location"
                    name="location"
                    placeholder="Enter City"
                     required><br>
          </div>
        </div>

        <div class="Submit">
        <button type="submit">Register</button>
      </div>

      </form>
    </div>
    <div class="logout-container">
      <button class="logout-button" onclick="Back()">Back</button>
      
  </div>
  <script>
            function Back() {
            window.location.href = '/userLogin';
        }
  </script>
  </body>
</html>
