<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="userlog.css">
</head>
<body>
  <div class="login-container">
    <img src="login.jpg" class="login-image">
  </div>
  <div class="button-container">
    <button onclick="redirectToHomepage()" class="button">Back</button>
  </div>
  <section>
    <div class="Login">
      <h1>Login</h1>
      <form method="post" action="/userLogin">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username"required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password"required><br>
        <button type="submit">Login</button>
        <a href="/forgotPassword" id="forgot-password-link">Forgot Password?</a>

      </form>
    </div>
  </section>
  <div class="Account">
    <h3>Don't have an account? <a href="/userRegister">Create New User</a></h3>
    <script>
      function redirectToHomepage() {
        window.location.href = '/';
      }
    </script>
  </div>
</body>
</html>
