body {
   /* background-image: url('mainlogin.jpg');*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
  }  
  body {
    /*background-image: url('mainlogin.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;    
  }


  h1 {
    background-color: transparent;
   position: absolute;
   font-size: 35px;
    top:0%;
    left: 5%;
    color: rgb(0, 0, 0);
  }
  .intro
  {
    background-color: transparent;
    position: absolute;
    font-size: 18px;
     top:18%;
     left: 15%;
     color: rgb(0, 0, 0);
  }
.welcome
{
  background-color: transparent;
  position: absolute;
  font-size: 15px;
   top:28%;
   left: 15%;
   color: rgb(211, 47, 47);

}
.intro2
{
  background-color: transparent;
  position: absolute;
  font-size: 18px;
   top:64%;
   left: 53%;
   color: rgb(0, 0, 0);
}
.welcome2
{
background-color: transparent;
position: absolute;
font-size: 15px;
 top:74%;
 left: 53%;
 color: rgb(211, 47, 47);

}
  .rider-container {
    position: relative;
    top: 70px;
    left: 355px;
  
  }

  .rider-image {
    width: 70%; /* Optional: To ensure the image fits within the container */
    height: auto;
    background: transparent;
  }
  .deliver-container {
    position: relative;
    top: 60px;
    left: -150px;
  
  }

  .deliver-image {
    width: 70%; /* Optional: To ensure the image fits within the container */
    height: auto;
    background: transparent;
  }
  .button-container {
    position: absolute;
    display: flex;
    margin-top: 20px;
    top: 05px;
    right: 35px;
  }

  .button {
    
    font-size: 12px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    background-color:rgb(211, 47, 47);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .button:hover {
    background-color: #15e431;
  }