/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color to the body */
body {
    font-family: Arial, sans-serif;
    background-color: #edcbcb;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Style the container for the form */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form title */
.form-title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the input boxes and labels */
.user-input-box {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #f15a24;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Style the submit button on hover */
button[type="submit"]:hover {
    background-color: #15e431;
}

/* Style the main-user-info div */
.main-user-info {
    margin-bottom: 20px;
}

/* Style the Submit div */
.Submit {
    text-align: center;
}

.logout-container {
    position: absolute;
    top: 18px;
    right: 12px;
}

/* Style for the logout button */
.logout-button {
    background-color: #f15a24;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.logout-button:hover{
    background-color: #15e431;
}
